# SPDX-FileCopyrightText: 2022-present Intel Corporation
# SPDX-FileCopyrightText: 2021 Open Networking Foundation <info@opennetworking.org>
# Copyright 2019 free5GC.org
#
# SPDX-License-Identifier: Apache-2.0

info:
  version: 1.0.0
  description: SMF initial local configuration

configuration:
  smfDBName: {{ database_name }}
  enableDBStore: false
  enableUPFAdapter: false
  debugProfilePort: 5001
  mongodb:
    url: {{ database_url }}
  smfName: SMF
  sbi:
    scheme: {{ scheme }}
    registerIPv4: {{ smf_url }}
    bindingIPv4: 0.0.0.0
    port: {{ smf_sbi_port }}
    tls:
      key: {{ tls_key_path }}
      pem: {{ tls_certificate_path }}
  serviceNameList:
    - nsmf-pdusession
    - nsmf-event-exposure
    - nsmf-oam
  pfcp:
    addr: {{ pod_ip }}
  nrfUri: {{ nrf_url }}

# the kind of log output
# debugLevel: how detailed to output, value: trace, debug, info, warn, error, fatal, panic
# ReportCaller: enable the caller report or not, value: true or false
logger:
  SMF:
    debugLevel: info
    ReportCaller: false
  NAS:
    debugLevel: info
    ReportCaller: false
  NGAP:
    debugLevel: info
    ReportCaller: false
  Aper:
    debugLevel: info
    ReportCaller: false
  PathUtil:
    debugLevel: info
    ReportCaller: false
  OpenApi:
    debugLevel: info
    ReportCaller: false
  PFCP:
    debugLevel: info
    ReportCaller: false

