# SPDX-FileCopyrightText: 2022-present Intel Corporation
# SPDX-FileCopyrightText: 2021 Open Networking Foundation <info@opennetworking.org>
# Copyright 2019 free5GC.org
#
# SPDX-License-Identifier: Apache-2.0

info:
  version: 1.0.0
  description: SMF initial local configuration

configuration:
  webuiUri: {{ webui_uri }}
  enableDBStore: false
  enableUPFAdapter: false
  debugProfilePort: 5001
  enableNrfCaching: true
  nrfCacheEvictionInterval: 900
  kafkaInfo:
    enableKafka: false
  smfName: SMF
  sbi:
    scheme: {{ scheme }}
    registerIPv4: {{ smf_url }}
    bindingIPv4: 0.0.0.0
    port: {{ smf_sbi_port }}
    tls:
      key: {{ tls_key_path }}
      pem: {{ tls_certificate_path }}
  serviceNameList:
    - nsmf-pdusession
    - nsmf-event-exposure
    - nsmf-oam
  pfcp:
    addr: {{ pod_ip }}
  nrfUri: {{ nrf_url }}

logger:
  SMF:
    debugLevel: {{ log_level }}
