name: "Dependabot Auto Approve and Merge"

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: write
  contents: write

jobs:
  auto-merge:
    uses: canonical/sdcore-github-workflows/.github/workflows/dependabot_pr.yaml@v1.0.0
