name: Auto-update Charm Libraries
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0,12 * * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  update-lib:
    name: Check libraries
    uses: canonical/sdcore-github-workflows/.github/workflows/update-libs.yaml@v2.3.8
    secrets: inherit
